* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat,
    sans-serif; 
    font-size: 12px;
    line-height: 1.5;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 40px;
  }
  
  ul.navbar {
    list-style: none;
    text-align: right;
    visibility: hidden;
  }

  a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  li {
    display: inline;
    font-size: 14pt;
    padding: 3px;
  }

  .hamburger {
    font-size: 32px;
    cursor: pointer;
    text-align: right;
  }

  .hamburgernavbar {
    list-style: none;
    text-align: right;
    margin: 0;
  }

  header {
    padding: 12% 0;
    text-align: right;
    display: block;
  }
  
  .Bio {
    text-align: center;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 72px;
    background: linear-gradient( to right, rgb(255, 112, 136), rgb(129, 29, 129));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
  }

  h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 0;
  }

  p {
    font-size: 12pt;
  } 

  section {
    min-height: 200px;
  }

  .ProjectScreenshot {
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
  }

  .ScreenshotPlaceholder {
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border: 3px solid lightgray;
    text-align: center;
  }

  .ProjectIcons {
    height: 25px;
    width: 100%;
    margin-bottom: 40px;
  
  }

  img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .View {
    text-align: center;
    margin-top: 30px;
  }

  .ViewMoreButton {
    font-size: 16px;
    padding: 12px;
    text-align: center;
    color: black;
    border: 3px solid black;
    display: inline;

  }

  button {
    border: 3px solid black;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    text-transform: uppercase; 

  }

  ul.footer {
    height: 25px;
    margin: 40px;
    padding: 0;  
    text-align: center;
  }

  footer {
    display: inline;
  }

  /* RESPONSIVE HAMBURGER MENU */
  
  .responsive-menu{
    display: none;
  }
  
  .expand {
    display: block; 
  }

  /* MEDIA QUERIES */
  


  @media screen and (min-width: 720px) {
    ul.navbar {
      visibility: visible;
    }
    .hamburger {
       visibility: hidden;
    }
  }